* {
    font-family: Montserrat;
}

/* Global Styles */
.billing-container {
    width: 75%;
    max-width: 1200px;
    margin: auto;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 30px 0px rgba(6, 42, 191, 0.25);
    border-radius: 20px;
    margin-top: 2%;
}

.billing-header {
    background: rgba(227, 34, 40, 1);
    color: white;
    padding: 10px;
    font-size: 22px;
    text-align: center;
    align-items: center;
    align-content: center;
    font-weight: 600;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.billing-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.billing-flow {
    display: flex;
    gap: 20px;
}

.billing-Flowcontent {
    color: rgba(227, 34, 40, 1);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0%;
}

.billingFlowLeftArr {
    font-size: 16px;
}

.FlowContent {
    color: rgba(113, 117, 126, 1);
}

.FlowContent1 {
    color: rgba(27, 28, 32, 1);
}

.billing-left {
    border-right: 2px solid gray;
}

.billing-left,
.billing-right {
    flex: 1;
    min-width: 320px;
    padding: 10px;
}

.locationIconOutline {
    background-color: rgba(245, 242, 242, 1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    align-content: center;
    text-align: center;
}

.locationIcon {
    height: 20px;
    width: 20px;
}

.section-title {
    display: flex;
    gap: 10px;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0%;
    color: rgba(27, 28, 32, 1);
    margin-bottom: 20px;
    margin-top: 6%;
    align-items: center;
    align-content: center;
    text-align: center;
}

/* Form Fields */

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgba(113, 117, 126, 1);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0%;
    /* margin-bottom: 20px; */

}

.billingSpan {
    position: relative;
    margin-bottom: 20px;
}


.billingInputSpan {
    position: absolute;
    left: 8px;
    top: 10px;
    width: max-content;
    background-color: white;
    text-align: center;
    pointer-events: none;
    transition: .3s ease all;
    color: rgba(113, 117, 126, 1);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0%;
}

.input-field:focus+.billingInputSpan {
    position: absolute;
    left: 10px;
    top: -12px;
    width: max-content;
    background-color: white;
    transition: .3s ease all;
}

.input-field:focus {
    outline: none;
}

.inputSpanFill {
    position: absolute;
    left: 10px;
    top: -12px;
    width: max-content;
    background-color: white;
    text-align: center;
}

.phone-input {
    display: flex;
    /* width: 100%; */
    margin-bottom: 20px;
    position: relative;
}



.phoneInputField {
    width: 195%;
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 5px;
    color: rgba(113, 117, 126, 1);
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0%;
    /* margin-bottom: 8px; */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.country-code {
    position: relative;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 70px;
    height: 43.8px;
    color: rgba(27, 28, 32, 1);
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 5px;
    border: 1px solid #ccc;
    border-right: 1.5px solid #ccc;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    appearance: none;
    /* Hide default dropdown arrow */
}

.country-code:focus {
    outline: none;
}

.phoneInputUpDown {
    position: absolute;
    top: 23.5%;
    left: 13.8%;
}

.billingPhoneSpan {
    position: relative;
    margin-bottom: 4px;
}

.billingPhoneInputSpan {
    position: absolute;
    left: 10px;
    top: 11px;
    width: max-content;
    background-color: white;
    text-align: center;
}

.phoneInputField:focus+.billingPhoneInputSpan {
    position: absolute;
    left: -58px;
    top: -12px;
    width: max-content;
    background-color: white;
    transition: .3s ease all;
}

.inputPhoneSpanFill {
    position: absolute;
    left: -58px;
    top: -12px;
    width: max-content;
    background-color: white;

}




/* STATE  */
.billingStateCity {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.phoneInputUpDown {
    position: absolute;
    top: 18%;
    left: 89.8%;
    color: rgba(113, 117, 126, 1);
    /* font-size: 26px; */
}

.stateInputField,
.cityInputField {
    width: 100%;
}


.billing-dropdown-container {
    position: absolute;
    top: 45px;
    left: 0;
    width: 222%;
    border-radius: 5px;
    z-index: 10;
    border-radius: 20px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.billing-search-box {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.billing-search-box i {
    margin-right: 8px;
    color: rgba(113, 117, 126, 1);
}

.billing-search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
}

.billing-state-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
}

.billing-state-item {
    padding: 10px;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    cursor: pointer;
    transition: background 0.2s;
    border-bottom: 1px solid gray;
}


.billing-no-results {
    padding: 10px;
    text-align: center;
    color: rgba(113, 117, 126, 1);
}


/* Order Summary */
.billing-right {
    padding: 0;
}

.billing_contents_right {
    width: 80%;
    margin: 0px auto;
}

.billing-order-item {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px dashed rgba(113, 117, 126, 1);
    padding-top: 20px;
    padding-bottom: 20px;
}

.billing-order-img {
    width: 55px;
    height: 55px;
    border-radius: 5px;
}

.billing-section-title {

    color: rgba(27, 28, 32, 1);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 10px auto;

}

.billing-order-title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0%;
    color: rgba(51, 51, 51, 1);
}

.billing-order-pricing {
    width: 100%;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(27, 28, 32, 1);

}

.billing-orderContent {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed rgba(113, 117, 126, 1);
    padding-top: 20px;
    padding-bottom: 20px;
}

.billing-orderContent1 {
    display: flex;
    justify-content: space-between;
}

.billing-orderContentPriceMain {
    border-bottom: 1px dashed rgba(113, 117, 126, 1);
    padding-top: 20px;
    padding-bottom: 20px;
}

.billing-orderContentRight {
    width: 40px;
    text-align: center;
    /* border: 1px solid blue; */
}

.billingMountingcharge {
    margin-top: 6px;
}

.BillingTotalAmt {
    font-size: 18px;
}

.billingNote {
    color: rgba(227, 34, 40, 1);
}

.billingNoteContent {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    /* line-height: 100%; */
    letter-spacing: 0%;
    color: rgba(27, 28, 32, 1);
    margin: 20px auto;
    align-items: center;
    align-content: center;
    text-align: left;
}

/* BILLING BUTTON  */
.billingButton {
    color: rgba(27, 28, 32, 1);
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    gap: 30px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    align-items: center;
    padding: 15px 26%;
    margin-top: 39%;
    padding-bottom: 8px;
    border-bottom-right-radius: 20px;

}

.billingContinueBtn {
    background-color: rgba(227, 31, 37, 1);
    color: white;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    letter-spacing: 0.05em;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 22px;
    overflow: hidden;
    position: relative;
}

@keyframes animate {
    0% {
        Left: -100%;
    }

    100% {
        Left: calc(100% + 10px);
    }
}

@keyframes animate1 {
    0% {
        Left: calc(100% + 10px);
    }

    100% {
        left: -100%;
    }
}


.billingContinueBtn:hover:before {
    content: " ";
    position: absolute;
    top: 0;
    Left: -30px;
    height: 100%;
    width: 16px;
    background: rgba(255, 255, 255, 1);
    /* backdrop-filter: blur(25px); */
    transform: translate(-50%, -50%) rotate(45deg);
    filter: blur(15px);
    transition: .5s;
    transform: skewX(-14deg);
    animation: animate .3s linear;
}


.billingContinueBtn:not(:hover)::before {
    content: " ";
    position: absolute;
    top: 0;
    Left: -30px;
    height: 100%;
    width: 16px;
    background: rgba(255, 255, 255, 1);
    /* backdrop-filter: blur(25px); */
    filter: blur(15px);
    transition: .5s;
    transform: skewX(-14deg);
    animation: animate1 .3s linear;
}

.ReserveError {
    color: red;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: large;
}


/* @keyframes blinkError {
    0%, 100% {
      border-bottom: 1.5px solid red;
      background-color: #f8d7da; 
    }
    50% {
      border-bottom: 1.5px solid #ff0000;
      background-color: #fff;
    }
  } */

.AdminProdinput-errorBilling {
    /* animation: blinkError 0.6s ease-in-out infinite; */
    border: 1px solid red !important;
}

.AdminProdinput-errorBilling::placeholder {
    color: black;
}

.AdminProderror-messageBilling {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}

.AdminProderror-messageBillingPhone {
    color: red;
    font-size: 12px;
    /* margin-bottom: 10px; */
}

.AdminProderror-messageBillingState {
    color: red;
    font-size: 12px;
    /* margin-bottom: 10px; */
}

.phoneInputField::-webkit-outer-spin-button,
.phoneInputField::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.phoneInputField {
    -moz-appearance: textfield;
}

/* Responsive Media Queries */
/* Extra Large Screens (2560px and above) ✅ Large Screens (4K Screens)  */
@media (min-width: 2560px) {
    .billing-container {
        width: 100%;
        max-width: 1380px;
        margin: auto;
        margin-top: 2%;
    }

    .billing-header {
        height: 100px;
        font-size: 40px;
        font-weight: 600;
        padding: 0;
    }

    .billing-left {
        padding: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .billing-Flowcontent {
        color: rgba(227, 34, 40, 1);
        font-weight: 600;
        font-size: 25px;
        letter-spacing: 0%;
    }

    .FlowContent {
        color: rgba(113, 117, 126, 1);
    }

    .FlowContent1 {
        color: rgba(27, 28, 32, 1);
    }

    .billingFlowLeftArr {
        font-size: 26px;
    }

    .locationIconOutline {
        width: 45px;
        height: 45px;
    }

    .locationIcon {
        height: 32px;
        width: 32px;
    }

    .section-title {
        font-weight: 500;
        font-size: 23px;
    }

    .billingSpan {
        position: relative;
        margin-bottom: 40px;
    }


    .input-field {
        padding: 20px;
        font-weight: 400;
        font-size: 22px;
        /* margin-bottom: 30px; */
    }

    .billingInputSpan {
        position: absolute;
        left: 14px;
        top: 18px;
        font-size: 22px;
    }

    .input-field:focus+.billingInputSpan {
        position: absolute;
        left: 10px;
        top: -12px;
    }


    .inputSpanFill {
        position: absolute;
        left: 10px;
        top: -12px;
    }


    .phone-input {
        margin-bottom: 5px;
    }

    .phoneInputField {
        width: 181%;
        padding: 19px;
        font-size: 22px;
        /* margin-bottom: 15px; */
        border: 1px solid #ccc;

    }

    .country-code {
        position: relative;
        text-align: center;
        align-items: center;
        align-content: center;
        width: 100px;
        height: 72px;
        font-size: 25px;
    }

    .billingPhoneInputSpan {
        position: absolute;
        left: 15px;
        top: 20px;
    }

    .phoneInputField:focus+.billingPhoneInputSpan {
        position: absolute;
        left: -83px;
        top: -14px;

    }

    .inputPhoneSpanFill {
        position: absolute;
        left: -83px;
        top: -14px;
    }

    .billing-dropdown-container {
        top: 86px;
        width: 212%;
        left: 0;
    }

    .stateSearchIcon {
        font-size: 20px;
    }

    .billing-search-input {
        font-size: 20px;
    }

    .billing-state-item {
        padding: 10px;
        font-size: 22px;
        padding-top: 10.5px;
        padding-bottom: 10.5px;
    }

    .billing-state-list {
        max-height: 218px;
    }

    .phoneInputUpDown {
        position: absolute;
        top: 18%;
        left: 87.8%;
        font-size: 26px;
    }


    .billing_contents_right {
        width: 92%;
    }

    .billing-section-title {
        color: rgba(27, 28, 32, 1);
        font-family: Montserrat;
        font-weight: 600;
        font-size: 28px;
    }

    .billing-order-img {
        width: 100px;
        height: 100px;
        border-radius: 12px;
    }

    .billing-order-title {
        line-height: 28px;
        font-size: 25px;
    }

    .billing-order-item {
        gap: 10px;
        border-bottom: 2px dashed rgba(113, 117, 126, 1);
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .billing-order-pricing {
        font-size: 23px;
    }

    .billing-orderContent {
        border-bottom: 2px dashed rgba(113, 117, 126, 1);
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .BillingTotalAmt {
        font-size: 30px;
    }

    .billing-orderContentRight {
        width: 87px;
    }

    .billingNoteContent {
        font-size: 20px;
    }

    .billingNote {
        color: rgba(227, 34, 40, 1);
        font-weight: 600;
    }

    .billingButton {
        font-weight: 500;
        font-size: 32px;
        gap: 30px;
        padding: 30px 29%;
        margin-top: 48%;
        /* padding-bottom: 8px; */
    }

    .billingContinueBtn {
        font-size: 25px;
        font-weight: 600;
        line-height: 24.94px;
        padding: 17px 37px;
        border-radius: 40px;
    }

    .AdminProderror-messageBilling {
        color: red;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .AdminProderror-messageBillingPhone,
    .AdminProderror-messageBillingState {
        color: red;
        font-size: 20px;
        margin-bottom: 10px;
    }

}

/* Large Screens (1400px - 2559px) ✅ Large Desktop Screens 1440*/
@media (min-width: 1440px) and (max-width: 2559px) {


    .billing-container {
        width: 75%;
        max-width: 1200px;
        margin: auto;
        border-radius: 20px;
        margin-top: 2%;
    }

    .billing-header {
        padding: 10px;
        font-size: 22px;
    }

    .billing-flow {
        display: flex;
        gap: 20px;
    }

    .billing-Flowcontent {
        font-weight: 600;
        font-size: 14px;
    }

    .billing-left {
        border-right: 2px solid gray;
    }

    .billing-left,
    .billing-right {
        flex: 1;
        min-width: 320px;
        padding: 10px;
    }

    .billing-right {
        padding: 0;
    }

    .locationIconOutline {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .locationIcon {
        height: 20px;
        width: 20px;
    }

    .section-title {
        gap: 10px;
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 20px;
        margin-top: 6%;
    }

    /* Form Fields */
    .input-field {
        padding: 10px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 15px;
        /* margin-bottom: 20px; */
    }

    .billingSpan {
        position: relative;
        margin-bottom: 20px;

    }

    .billingInputSpan {
        position: absolute;
        left: 8px;
        top: 10px;
        font-weight: 400;
        font-size: 14px;
    }

    .input-field:focus+.billingInputSpan {
        position: absolute;
        left: 10px;
        top: -12px;
    }

    .inputSpanFill {
        position: absolute;
        left: 10px;
        top: -12px;
    }

    .phone-input {
        margin-bottom: 1px;
    }

    .phoneInputField {
        width: 227%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-weight: 400;
        font-size: 15px;
        /* margin-bottom: 8px; */
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

    }

    .country-code {
        position: relative;
        width: 70px;
        height: 43.8px;
        font-weight: 400;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }


    .billingPhoneInputSpan {
        left: 10px;
        top: 11px;
    }

    .phoneInputField:focus+.billingPhoneInputSpan {
        left: -58px;
        top: -12px;
    }

    .inputPhoneSpanFill {
        position: absolute;
        left: -58px;
        top: -12px;
    }


    .phoneInputUpDown {
        top: 18%;
        left: 89.8%;
        font-size: 16px;

    }

    .billing-dropdown-container {
        position: absolute;
        top: 45px;
        left: 0;
        width: 262%;
    }

    .stateSearchIcon {
        font-size: 15px;
    }

    .billing-search-box {
        display: flex;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }

    .billing-search-box i {
        margin-right: 8px;
    }

    .billing-search-input {
        width: 100%;
        font-size: 14px;
    }

    .billing-state-list {
        max-height: 148px;
    }

    .billing-state-item {
        padding: 10px;
        padding-top: 6.5px;
        padding-bottom: 6.5px;
        border-bottom: 1px solid gray;
    }

    .billing-no-results {
        padding: 10px;

    }

    /* Order Summary */
    .billing_contents_right {
        width: 85%;
    }

    .billing-order-item {
        gap: 10px;
        border-bottom: 1px dashed rgba(113, 117, 126, 1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .billing-order-img {
        width: 60px;
        height: 60px;
        border-radius: 5px;
    }

    .billing-section-title {
        font-weight: 600;
        font-size: 18px;
        margin: 10px auto;
    }

    .billing-order-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .billing-order-pricing {
        width: 100%;
        font-weight: 600;
        font-size: 15px;
    }

    .billing-orderContent {
        border-bottom: 1px dashed rgba(113, 117, 126, 1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .billing-orderContentPriceMain {
        border-bottom: 1px dashed rgba(113, 117, 126, 1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .billing-orderContentRight {
        width: 50px;
    }

    .billingMountingcharge {
        margin-top: 6px;
    }

    .BillingTotalAmt {
        font-size: 18px;
    }

    .billingNoteContent {
        font-weight: 600;
        font-size: 14px;
        margin: 20px auto;
    }

    /* BILLING BUTTON  */
    .billingButton {
        font-size: 30px;
        gap: 30px;
        padding: 13px 26%;
        margin-top: 33%;
        padding-bottom: 8px;
    }

    .billingContinueBtn {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        padding: 10px 20px;
        border-radius: 22px;
    }
}

/* Laptops & Small Desktops (992px - 1024px)  ✅ Tablets (Landscape Mode) */
@media (min-width: 992px) and (max-width: 1023px) {

    .billing-container {
        width: 88%;
        max-width: 1200px;
        margin: auto;
        border-radius: 20px;
        margin-top: 2%;
    }

    .billing-header {
        /* padding: 10px; */
        font-size: 22px;
    }

    .billing-flow {
        display: flex;
        gap: 20px;
    }

    .billing-Flowcontent {
        font-weight: 600;
        font-size: 14px;
    }

    .billing-left {
        border-right: 2px solid gray;
    }

    .billing-left,
    .billing-right {
        flex: 1;
        min-width: 320px;
        padding: 10px;
    }

    .billing-right {
        padding: 0;
    }

    .locationIconOutline {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .locationIcon {
        height: 20px;
        width: 20px;
    }

    .section-title {
        gap: 10px;
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 20px;
        margin-top: 6%;
    }

    /* Form Fields */
    .input-field {
        padding: 10px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 15px;
        /* margin-bottom: 20px; */
    }

    .billingSpan {
        position: relative;
        margin-bottom: 20px;

    }

    .billingInputSpan {
        position: absolute;
        left: 8px;
        top: 10px;
        font-weight: 400;
        font-size: 14px;
    }

    .input-field:focus+.billingInputSpan {
        position: absolute;
        left: 10px;
        top: -12px;
    }

    .inputSpanFill {
        position: absolute;
        left: 10px;
        top: -12px;
    }

    .phone-input {
        margin-bottom: 5px;
    }

    .phoneInputField {
        width: 176%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-weight: 400;
        font-size: 15px;
        /* margin-bottom: 8px; */
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

    }

    .country-code {
        position: relative;
        width: 70px;
        height: 43.8px;
        font-weight: 400;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }


    .billingPhoneInputSpan {
        left: 10px;
        top: 11px;
    }

    .phoneInputField:focus+.billingPhoneInputSpan {
        left: -58px;
        top: -12px;
    }

    .inputPhoneSpanFill {
        position: absolute;
        left: -58px;
        top: -12px;
    }


    .phoneInputUpDown {
        top: 18%;
        left: 89.8%;
        font-size: 16px;

    }

    .billing-dropdown-container {
        position: absolute;
        top: 45px;
        left: 0;
        width: 210%;
    }

    .stateSearchIcon {
        font-size: 15px;
    }

    .billing-search-box {
        display: flex;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }

    .billing-search-box i {
        margin-right: 8px;
    }

    .billing-search-input {
        width: 100%;
        font-size: 14px;
    }

    .billing-state-list {
        max-height: 148px;
    }

    .billing-state-item {
        font-size: 14px;
        padding: 10px;
        padding-top: 6.5px;
        padding-bottom: 6.5px;
        border-bottom: 1px solid gray;
    }

    .billing-no-results {
        padding: 10px;

    }

    /* Order Summary */
    .billing_contents_right {
        width: 85%;
    }

    .billing-order-item {
        gap: 13px;
        border-bottom: 1px dashed rgba(113, 117, 126, 1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .billing-order-img {
        width: 55px;
        height: 55px;
        border-radius: 5px;
    }

    .billing-section-title {
        font-weight: 600;
        font-size: 18px;
        margin: 10px auto;
    }

    .billing-order-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
    }

    .billing-order-pricing {
        width: 100%;
        font-weight: 600;
        font-size: 14px;
    }

    .billing-orderContent {
        border-bottom: 1px dashed rgba(113, 117, 126, 1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .billing-orderContentPriceMain {
        border-bottom: 1px dashed rgba(113, 117, 126, 1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .billing-orderContentRight {
        width: 40px;
    }

    .billingMountingcharge {
        margin-top: 6px;
    }

    .BillingTotalAmt {
        font-size: 18px;
    }

    .billingNoteContent {
        line-height: 17px;
        font-weight: 600;
        font-size: 14px;
        margin: 20px auto;
    }

    /* BILLING BUTTON  */
    .billingButton {
        font-size: 30px;
        gap: 20px;
        padding: 14px 25%;
        margin-top: 43%;
        padding-bottom: 8px;
    }

    .billingContinueBtn {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        padding: 10px 20px;
        border-radius: 22px;
    }
}

/* Tablets (768px - 991px) ✅ Tablets (Portrait Mode) */
@media (min-width: 768px) and (max-width: 991px) {

    .billing-container {
        width: 97%;
        max-width: 1200px;
        margin: auto;
        border-radius: 20px;
        margin-top: 2%;
        margin-bottom: 13%;
    }

    .billing-header {
        /* padding: 10px; */
        font-size: 22px;
    }

    .billing-flow {
        display: flex;
        gap: 20px;
    }

    .billing-Flowcontent {
        font-weight: 600;
        font-size: 14px;
    }

    .billing-left {
        border-right: 2px solid gray;
    }

    .billing-left,
    .billing-right {
        flex: 1;
        min-width: 320px;
        padding: 11px;
    }

    .billing-right {
        padding: 0;
    }

    .locationIconOutline {
        width: 33px;
        height: 33px;
        border-radius: 50%;
    }

    .locationIcon {
        height: 21px;
        width: 21px;
    }

    .section-title {
        gap: 10px;
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 25px;
        margin-top: 5%;
    }

    /* Form Fields */
    .input-field {
        padding: 10px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 15px;
        /* margin-bottom: 20px; */
    }

    .billingSpan {
        position: relative;
        margin-bottom: 20px;

    }

    .billingInputSpan {
        position: absolute;
        left: 8px;
        top: 10px;
        font-weight: 400;
        font-size: 14px;
    }

    .input-field:focus+.billingInputSpan {
        position: absolute;
        left: 10px;
        top: -12px;
    }

    .inputSpanFill {
        position: absolute;
        left: 10px;
        top: -12px;
    }

    .phone-input {
        margin-bottom: 5px;
    }

    .phoneInputField {
        width: 144%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-weight: 400;
        font-size: 15px;
        /* margin-bottom: 8px; */
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

    }

    .country-code {
        position: relative;
        width: 70px;
        height: 43.8px;
        font-weight: 400;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }


    .billingPhoneInputSpan {
        left: 10px;
        top: 11px;
    }

    .phoneInputField:focus+.billingPhoneInputSpan {
        left: -58px;
        top: -12px;
    }

    .inputPhoneSpanFill {
        position: absolute;
        left: -58px;
        top: -12px;
    }


    .phoneInputUpDown {
        top: 18%;
        left: 88.8%;
        font-size: 16px;

    }

    .billingStateCity {
        width: 100%;
        display: flex;
        gap: 6px;
        justify-content: space-between;
    }

    .billing-dropdown-container {
        position: absolute;
        top: 45px;
        left: 0;
        width: 204%;
    }

    .stateSearchIcon {
        font-size: 15px;
    }

    .billing-search-box {
        display: flex;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }

    .billing-search-box i {
        margin-right: 8px;
    }

    .billing-search-input {
        width: 100%;
        font-size: 14px;
    }

    .billing-state-list {
        max-height: 138px;
    }

    .billing-state-item {
        font-size: 14px;
        padding: 10px;
        padding-top: 6.5px;
        padding-bottom: 6.5px;
        border-bottom: 1px solid gray;
    }

    .billing-no-results {
        padding: 10px;

    }

    /* Order Summary */
    .billing_contents_right {
        width: 91%;
    }

    .billing-order-item {
        gap: 10px;
        border-bottom: 1px dashed rgba(113, 117, 126, 1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .billing-order-img {
        width: 55px;
        height: 55px;
        border-radius: 5px;
    }

    .billing-section-title {
        font-weight: 600;
        font-size: 18px;
        margin: 10px auto;
    }

    .billing-order-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
    }

    .billing-order-pricing {
        width: 100%;
        font-weight: 600;
        font-size: 14px;
    }

    .billing-orderContent {
        border-bottom: 1px dashed rgba(113, 117, 126, 1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .billing-orderContentPriceMain {
        border-bottom: 1px dashed rgba(113, 117, 126, 1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .billing-orderContentRight {
        width: 50px;
        /* border: 1px solid red; */
    }

    .billingMountingcharge {
        margin-top: 6px;
    }

    .BillingTotalAmt {
        font-size: 18px;
    }

    .billingNoteContent {
        line-height: 17px;
        font-weight: 600;
        font-size: 14px;
        margin: 20px auto;
    }

    /* BILLING BUTTON  */
    .billingButton {
        font-size: 30px;
        gap: 16px;
        padding: 14px 21%;
        margin-top: 52%;
        padding-bottom: 8px;
    }

    .billingContinueBtn {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        padding: 10px 20px;
        border-radius: 22px;
    }
}

/* Mobile Large Screens (480px - 767px) ✅ Small Tablets & Large Phones */
@media (min-width: 480px) and (max-width: 767px) {


    .billing-container {
        width: 93%;
        max-width: 1200px;
        margin: auto;
        border-radius: 20px;
        margin-top: 5%;
        margin-bottom: 18%;
    }

    .billing-header {
        /* padding: 10px; */
        font-size: 22px;
    }

    .billing-flow {
        display: flex;
        gap: 20px;
    }

    .billing-Flowcontent {
        font-weight: 600;
        font-size: 16px;
    }

    .billingFlowLeftArr {
        font-size: 17px;
    }

    .billing-left {
        border-right: none;
    }

    .billing-left,
    .billing-right {
        flex: 1;
        min-width: 320px;
        padding: 11px;
    }

    .billing-right {
        padding: 0;
    }

    .locationIconOutline {
        width: 33px;
        height: 33px;
        border-radius: 50%;
    }

    .locationIcon {
        height: 21px;
        width: 21px;
    }

    .section-title {
        gap: 10px;
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 25px;
        margin-top: 5%;
    }

    /* Form Fields */
    .input-field {
        padding: 10px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 15px;
        /* margin-bottom: 20px; */
    }

    .billingSpan {
        position: relative;
        margin-bottom: 20px;

    }

    .billingInputSpan {
        position: absolute;
        left: 8px;
        top: 10px;
        font-weight: 400;
        font-size: 14px;
    }

    .input-field:focus+.billingInputSpan {
        position: absolute;
        left: 10px;
        top: -12px;
    }

    .inputSpanFill {
        position: absolute;
        left: 10px;
        top: -12px;
    }

    .phone-input {
        margin-bottom: 5px;
    }

    .phoneInputField {
        width: 174.5%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-weight: 400;
        font-size: 15px;
        /* margin-bottom: 8px; */
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

    }

    .country-code {
        position: relative;
        width: 70px;
        height: 43.8px;
        font-weight: 400;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }



    .billingPhoneInputSpan {
        left: 10px;
        top: 11px;
        font-size: 14px;
    }

    .phoneInputField:focus+.billingPhoneInputSpan {
        left: -58px;
        top: -12px;
    }

    .inputPhoneSpanFill {
        position: absolute;
        left: -58px;
        top: -12px;
    }


    .phoneInputUpDown {
        top: 18%;
        left: 88.8%;
        font-size: 16px;

    }

    .billingStateCity {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .billing-dropdown-container {
        position: absolute;
        top: 45px;
        left: 0;
        width: 210%;
    }

    .stateSearchIcon {
        font-size: 15px;
    }

    .billing-search-box {
        display: flex;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }

    .billing-search-box i {
        margin-right: 8px;
    }

    .billing-search-input {
        width: 100%;
        font-size: 14px;
    }

    .billing-state-list {
        max-height: 138px;
    }

    .billing-state-item {
        font-size: 14px;
        padding: 10px;
        padding-top: 6.5px;
        padding-bottom: 6.5px;
        border-bottom: 1px solid gray;
    }

    .billing-no-results {
        padding: 10px;

    }

    /* Order Summary */
    .billing_contents_right {
        width: 90%;
    }

    .billing-order-item {
        gap: 10px;
        border-bottom: 1.5px dashed rgba(113, 117, 126, 1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .billing-order-img {
        width: 60px;
        height: 60px;
        border-radius: 5px;
    }

    .billing-section-title {
        font-weight: 600;
        font-size: 22px;
        margin: 2px auto;
    }

    .billing-order-title {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }

    .billing-order-pricing {
        width: 100%;
        font-weight: 600;
        font-size: 15px;
    }

    .billing-orderContent {
        border-bottom: 1.5px dashed rgba(113, 117, 126, 1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .billing-orderContentRight {
        width: 48px;
        /* border: 1px solid red; */
    }


    .BillingTotalAmt {
        font-size: 20px;
    }

    .billingNoteContent {
        line-height: 18px;
        font-weight: 600;
        font-size: 15px;
        margin: 25px auto;
    }

    /* BILLING BUTTON  */
    .billingButton {
        font-size: 30px;
        gap: 16px;
        padding: 14px 25%;
        margin-top: 24%;
        padding-bottom: 13px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .billingContinueBtn {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        padding: 10px 20px;
        border-radius: 22px;
    }


}

/* Mobile Medium Screens (425px - 479px) ✅ Medium Phones (iPhone XR, Galaxy S20) */
@media (min-width: 425px) and (max-width: 479px) {


    .billing-container {
        width: 93%;
        max-width: 1200px;
        margin: auto;
        border-radius: 20px;
        margin-top: 4%;
        margin-bottom: 20%;
    }

    .billing-header {
        /* padding: 10px; */
        font-size: 22px;
    }

    .billing-flow {
        display: flex;
        gap: 15px;
    }

    .billing-Flowcontent {
        font-weight: 600;
        font-size: 15px;
    }

    .billingFlowLeftArr {
        font-size: 16px;
    }

    .billing-left {
        border-right: none;
    }

    .billing-left,
    .billing-right {
        flex: 1;
        min-width: 320px;
        padding: 11px;
    }

    .billing-right {
        padding: 0;
    }

    .locationIconOutline {
        width: 33px;
        height: 33px;
        border-radius: 50%;
    }

    .locationIcon {
        height: 21px;
        width: 21px;
    }

    .section-title {
        gap: 10px;
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 25px;
        margin-top: 5%;
    }

    /* Form Fields */
    .input-field {
        padding: 10px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 15px;
        /* margin-bottom: 25px; */
    }

    .billingSpan {
        position: relative;
        margin-bottom: 25px;

    }

    .billingInputSpan {
        position: absolute;
        left: 8px;
        top: 10px;
        font-weight: 400;
        font-size: 14px;
    }

    .input-field:focus+.billingInputSpan {
        position: absolute;
        left: 10px;
        top: -12px;
    }

    .inputSpanFill {
        position: absolute;
        left: 10px;
        top: -12px;
    }

    .phone-input {
        margin-bottom: 5px;
    }

    .phoneInputField {
        width: 149.5%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-weight: 400;
        font-size: 15px;
        /* margin-bottom: 8px; */
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .country-code {
        position: relative;
        width: 70px;
        height: 43.8px;
        font-weight: 400;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }


    .billingPhoneInputSpan {
        left: 10px;
        top: 11px;
        font-size: 14px;
    }

    .phoneInputField:focus+.billingPhoneInputSpan {
        left: -58px;
        top: -12px;
    }

    .inputPhoneSpanFill {
        position: absolute;
        left: -58px;
        top: -12px;
    }

    .phoneInputUpDown {
        top: 18%;
        left: 88.8%;
        font-size: 16px;

    }

    .billingStateCity {
        width: 100%;
        display: flex;
        gap: 5px;
        justify-content: space-between;
    }

    .billing-dropdown-container {
        position: absolute;
        top: 45px;
        left: 0;
        width: 203%;
    }

    .stateSearchIcon {
        font-size: 15px;
    }

    .billing-search-box {
        display: flex;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }

    .billing-search-box i {
        margin-right: 8px;
    }

    .billing-search-input {
        width: 100%;
        font-size: 14px;
    }

    .billing-state-list {
        max-height: 150px;
    }

    .billing-state-item {
        font-size: 14px;
        padding: 10px;
        padding-top: 6.5px;
        padding-bottom: 6.5px;
        border-bottom: 1px solid gray;
    }

    .billing-no-results {
        padding: 10px;

    }

    /* Order Summary */
    .billing_contents_right {
        width: 92%;
    }

    .billing-order-item {
        gap: 10px;
        border-bottom: 1.5px dashed rgba(113, 117, 126, 1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .billing-order-img {
        width: 60px;
        height: 60px;
        border-radius: 5px;
    }

    .billing-section-title {
        font-weight: 600;
        font-size: 22px;
        margin: 1px auto;
    }

    .billing-order-title {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }

    .billing-order-pricing {
        width: 100%;
        font-weight: 600;
        font-size: 15px;
    }

    .billing-orderContent {
        border-bottom: 1.5px dashed rgba(113, 117, 126, 1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .billing-orderContentRight {
        width: 55px;
        /* border: 1px solid red; */
    }


    .BillingTotalAmt {
        font-size: 20px;
    }

    .billingNoteContent {
        line-height: 17px;
        font-weight: 600;
        font-size: 14px;
        margin: 25px auto;
    }

    /* BILLING BUTTON  */
    .billingButton {
        font-size: 30px;
        gap: 16px;
        padding: 14px 22%;
        margin-top: 24%;
        padding-bottom: 13px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .billingContinueBtn {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        padding: 10px 20px;
        border-radius: 22px;
    }

}

/* Mobile Small Screens (375px - 424px) ✅ Small Phones (iPhone SE, Pixel 4) */
@media (min-width: 375px) and (max-width: 424px) {

    .billing-container {
        width: 93%;
        max-width: 1200px;
        margin: auto;
        border-radius: 20px;
        margin-top: 4%;
        margin-bottom: 22%;
    }

    .billing-header {
        /* padding: 10px; */
        font-size: 20px;
    }

    .billing-flow {
        display: flex;
        gap: 15px;
    }

    .billing-Flowcontent {
        font-weight: 600;
        font-size: 15px;
    }

    .billingFlowLeftArr {
        font-size: 16px;
    }

    .billing-left {
        border-right: none;
    }

    .billing-left,
    .billing-right {
        flex: 1;
        min-width: 320px;
        padding: 11px;
    }

    .billing-right {
        padding: 0;
    }

    .locationIconOutline {
        width: 33px;
        height: 33px;
        border-radius: 50%;
    }

    .locationIcon {
        height: 21px;
        width: 21px;
    }

    .section-title {
        gap: 10px;
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 25px;
        margin-top: 5%;
    }

    /* Form Fields */
    .input-field {
        padding: 10px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 15px;
        /* margin-bottom: 20px; */
    }

    .billingSpan {
        position: relative;
        margin-bottom: 20px;

    }

    .billingInputSpan {
        position: absolute;
        left: 8px;
        top: 10px;
        font-weight: 400;
        font-size: 14px;
    }

    .input-field:focus+.billingInputSpan {
        position: absolute;
        left: 10px;
        top: -12px;
    }

    .inputSpanFill {
        position: absolute;
        left: 10px;
        top: -12px;
    }

    .phone-input {
        margin-bottom: 5px;
    }

    .phoneInputField {
        width: 126.5%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-weight: 400;
        font-size: 15px;
        /* margin-bottom: 8px; */
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .country-code {
        position: relative;
        width: 70px;
        height: 43.9px;
        font-weight: 400;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }



    .billingPhoneInputSpan {
        left: 10px;
        top: 11px;
        font-size: 14px;
    }

    .phoneInputField:focus+.billingPhoneInputSpan {
        left: -58px;
        top: -12px;
    }

    .inputPhoneSpanFill {
        position: absolute;
        left: -58px;
        top: -12px;
    }


    .phoneInputUpDown {
        top: 18%;
        left: 88.8%;
        font-size: 16px;

    }

    .billingStateCity {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }


    .billing-dropdown-container {
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
    }

    .stateSearchIcon {
        font-size: 15px;
    }

    .billing-search-box {
        display: flex;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }

    .billing-search-box i {
        margin-right: 8px;
    }

    .billing-search-input {
        width: 100%;
        font-size: 14px;
    }

    .billing-state-list {
        max-height: 138px;
    }

    .billing-state-item {
        font-size: 14px;
        padding: 10px;
        padding-top: 6.5px;
        padding-bottom: 6.5px;
        border-bottom: 1px solid gray;
    }

    .billing-no-results {
        padding: 10px;

    }

    /* Order Summary */
    .billing_contents_right {
        width: 95%;
    }

    .billing-order-item {
        gap: 10px;
        border-bottom: 1.5px dashed rgba(113, 117, 126, 1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .billing-order-img {
        width: 60px;
        height: 60px;
        border-radius: 5px;
    }

    .billing-section-title {
        font-weight: 600;
        font-size: 21px;
        margin: 1px auto;
    }

    .billing-order-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }

    .billing-order-pricing {
        width: 100%;
        font-weight: 600;
        font-size: 15px;
    }

    .billing-orderContent {
        border-bottom: 1.5px dashed rgba(113, 117, 126, 1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .billing-orderContentRight {
        width: 55px;
        /* border: 1px solid red; */
    }


    .BillingTotalAmt {
        font-size: 20px;
    }

    .billingNoteContent {
        line-height: 16px;
        font-weight: 600;
        font-size: 12px;
        margin: 25px auto;
    }

    /* BILLING BUTTON  */
    .billingButton {
        font-size: 25px;
        gap: 16px;
        padding: 14px 20%;
        margin-top: 24%;
        padding-bottom: 13px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .billingContinueBtn {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        padding: 10px 20px;
        border-radius: 22px;
    }

}

/* Extra Small Screens (360px - 374px) ✅ Extra Small Phones */
@media (min-width: 360px) and (max-width: 374px) {

    .billing-container {
        width: 93%;
        max-width: 1200px;
        margin: auto;
        border-radius: 20px;
        margin-top: 5%;
        margin-bottom: 22%;
    }

    .billing-header {
        /* padding: 10px; */
        font-size: 20px;
    }

    .billing-flow {
        display: flex;
        justify-content: space-evenly;
        /* gap: 20px; */
    }

    .billing-Flowcontent {
        font-weight: 600;
        font-size: 15px;
    }

    .billingFlowLeftArr {
        font-size: 16px;
    }

    .billing-left {
        border-right: none;
    }

    .billing-left,
    .billing-right {
        flex: 1;
        min-width: 320px;
        padding: 11px;
    }

    .billing-right {
        padding: 0;
    }

    .locationIconOutline {
        width: 33px;
        height: 33px;
        border-radius: 50%;
    }

    .locationIcon {
        height: 21px;
        width: 21px;
    }

    .section-title {
        gap: 10px;
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 25px;
        margin-top: 5%;
    }

    /* Form Fields */
    .input-field {
        padding: 10px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 15px;
        /* margin-bottom: 20px; */
    }

    .billingSpan {
        position: relative;
        margin-bottom: 20px;

    }

    .billingInputSpan {
        position: absolute;
        left: 8px;
        top: 10px;
        font-weight: 400;
        font-size: 14px;
    }

    .input-field:focus+.billingInputSpan {
        position: absolute;
        left: 10px;
        top: -12px;
    }

    .inputSpanFill {
        position: absolute;
        left: 10px;
        top: -12px;
    }

    .phone-input {
        margin-bottom: 5px;
    }

    .phoneInputField {
        width: 119.8%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-weight: 400;
        font-size: 15px;
        /* margin-bottom: 6px; */
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .country-code {
        position: relative;
        width: 70px;
        height: 43.9px;
        font-weight: 400;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }


    .billingPhoneInputSpan {
        left: 10px;
        top: 11px;
        font-size: 14px;
    }

    .phoneInputField:focus+.billingPhoneInputSpan {
        left: -58px;
        top: -12px;
    }

    .inputPhoneSpanFill {
        position: absolute;
        left: -58px;
        top: -12px;
    }


    .phoneInputUpDown {
        top: 18%;
        left: 88.8%;
        font-size: 16px;
    }

    .billingStateCity {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }


    .billing-dropdown-container {
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
    }

    .stateSearchIcon {
        font-size: 15px;
    }

    .billing-search-box {
        display: flex;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }

    .billing-search-box i {
        margin-right: 8px;
    }

    .billing-search-input {
        width: 100%;
        font-size: 14px;
    }

    .billing-state-list {
        max-height: 138px;
    }

    .billing-state-item {
        font-size: 14px;
        padding: 10px;
        padding-top: 6.5px;
        padding-bottom: 6.5px;
        border-bottom: 1px solid gray;
    }

    .billing-no-results {
        padding: 10px;

    }

    /* Order Summary */
    .billing_contents_right {
        width: 93%;
        /* border: 1px solid red; */
    }

    .billing-order-item {
        gap: 5px;
        border-bottom: 1.5px dashed rgba(113, 117, 126, 1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .billing-order-img {
        width: 60px;
        height: 60px;
        border-radius: 5px;
    }

    .billing-section-title {
        font-weight: 600;
        font-size: 21px;
        margin: 1px auto;
    }

    .billing-order-title {
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;

    }

    .billing-order-pricing {
        width: 100%;
        font-weight: 600;
        font-size: 15px;
    }

    .billing-orderContent {
        border-bottom: 1.5px dashed rgba(113, 117, 126, 1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .billing-orderContentRight {
        width: 53px;
        /* border: 1px solid red; */
    }


    .BillingTotalAmt {
        font-size: 20px;
    }

    .billingNoteContent {
        line-height: 16px;
        font-weight: 600;
        font-size: 12px;
        margin: 25px auto;
    }

    /* BILLING BUTTON  */
    .billingButton {
        font-size: 25px;
        gap: 16px;
        padding: 14px 20%;
        margin-top: 24%;
        padding-bottom: 13px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .billingContinueBtn {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        padding: 10px 20px;
        border-radius: 22px;
    }
}

@media (min-width: 320px) and (max-width: 359px) {
    .billing-container {
        width: 95%;
        /* max-width: 1200px; */
        margin: auto;
        border-radius: 20px;
        margin-top: 5%;
        margin-bottom: 25%;
    }

    .billing-header {
        /* padding: 10px; */
        font-size: 20px;
    }

    .billing-flow {
        display: flex;
        /* justify-content: space-evenly; */
        gap: 18px;
    }

    .billing-Flowcontent {
        font-weight: 600;
        font-size: 14px;
    }

    .billingFlowLeftArr {
        font-size: 15px;
    }

    .billing-left {
        border-right: none;
    }

    .billing-left,
    .billing-right {
        flex: 1;
        min-width: 300px;
        padding: 11px;
    }

    .billing-right {
        padding: 0;
    }

    .locationIconOutline {
        width: 33px;
        height: 33px;
        border-radius: 50%;
    }

    .locationIcon {
        height: 21px;
        width: 21px;
    }

    .section-title {
        gap: 10px;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 17px;
        margin-top: 5%;
    }

    /* Form Fields */
    .input-field {
        padding: 10px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 15px;
        /* margin-bottom: 20px; */
    }

    .billingSpan {
        position: relative;
        margin-bottom: 20px;

    }

    .billingInputSpan {
        position: absolute;
        left: 8px;
        top: 10px;
        font-weight: 400;
        font-size: 14px;
    }

    .input-field:focus+.billingInputSpan {
        position: absolute;
        left: 10px;
        top: -12px;
    }

    .inputSpanFill {
        position: absolute;
        left: 10px;
        top: -12px;
    }

    .phone-input {
        margin-bottom: 5px;
    }

    .phoneInputField {
        width: 104.8%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-weight: 400;
        font-size: 15px;
        /* margin-bottom: 6px; */
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .country-code {
        position: relative;
        width: 70px;
        height: 43.9px;
        font-weight: 400;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }


    .billingPhoneInputSpan {
        left: 10px;
        top: 11px;
        font-size: 14px;
    }

    .phoneInputField:focus+.billingPhoneInputSpan {
        left: -58px;
        top: -12px;
    }

    .inputPhoneSpanFill {
        position: absolute;
        left: -58px;
        top: -12px;
    }


    .phoneInputUpDown {
        top: 18%;
        left: 92.8%;
        font-size: 16px;

    }

    .billingStateCity {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }


    .billing-dropdown-container {
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
    }

    .stateSearchIcon {
        font-size: 15px;
    }

    .billing-search-box {
        display: flex;
        align-items: center;
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }

    .billing-search-box i {
        margin-right: 8px;
    }

    .billing-search-input {
        width: 100%;
        font-size: 14px;
    }

    .billing-state-list {
        max-height: 138px;
    }

    .billing-state-item {
        font-size: 14px;
        padding: 10px;
        padding-top: 6.5px;
        padding-bottom: 6.5px;
        border-bottom: 1px solid gray;
    }

    .billing-no-results {
        padding: 10px;

    }

    /* Order Summary */
    .billing_contents_right {
        width: 92%;
    }

    .billing-order-item {
        gap: 5px;
        border-bottom: 1.5px dashed rgba(113, 117, 126, 1);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .billing-order-img {
        width: 60px;
        height: 60px;
        border-radius: 5px;
    }

    .billing-section-title {
        font-weight: 600;
        font-size: 21px;
        margin: 1px auto;
    }

    .billing-order-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        width: 200px;
        /* border: 1px solid red; */
    }

    .billing-order-pricing {
        width: 100%;
        font-weight: 600;
        font-size: 14px;
    }

    .billing-orderContent {
        border-bottom: 1.5px dashed rgba(113, 117, 126, 1);
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .billing-orderContentRight {
        width: 53px;
        /* border: 1px solid red; */
    }


    .BillingTotalAmt {
        font-size: 18px;
    }

    .billingNoteContent {
        line-height: 16px;
        font-weight: 600;
        font-size: 11.5px;
        margin: 25px auto;
    }

    /* BILLING BUTTON  */
    .billingButton {
        font-size: 25px;
        gap: 16px;
        padding: 14px 15%;
        margin-top: 24%;
        padding-bottom: 13px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .billingContinueBtn {
        font-size: 18px;
        font-weight: 600;
        line-height: 21.94px;
        padding: 10px 20px;
        border-radius: 22px;
    }
}